.title {
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 10px;
    box-shadow: 0 19px 0 -15px #e47d31;
    color:#4c4c4c;
}

body {
    background-color: white;
}

.restaurant-card-wrapper {
    display: flex;
    background-color: #f8f8f8;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.RestaurantCard-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 40px 20px 20px 20px;
}