.formLabels {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.labels {
    width: 370px;
    height: 24px;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    color: #979797;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.inputStyle {
    width: 340px;
    height: 52px;
    border-radius: 3px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
}

::placeholder {
    width: 142px;
    height: 24px;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    padding-left: 17px;
    color: #979797;

}