.header-wrapper {
    display: flex;
    border: 1px solid grey;
    justify-content: space-between;
    height: 71px;
    padding: 0 2rem;
}

.header-left {
    align-self: center;
    width: 300px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 618px);
}

.header-font-size {
    color: #4a4a4a;
    font-size: 20px;
    font-family: Arial;
}


.header-button-left {
    margin-right: 1px;
    width: 100px;
    height: 41px;
    border-radius: 28px 0 0 28px;
    background-color: #e47d31;
    color: white;
}


.header-button-right {
    width: 100px;
    height: 41px;
    border-radius: 0 28px 28px 0;
    background-color: #e47d31;
    color: white;

}
